@charset "UTF-8";

h1 {
	color: #ff0000;
}

#scroll-box {
	overflow: scroll;
	height: 100px;
	border: 1px solid black;
	position: -webkit-sticky;
	position: sticky;
}

#scroll-contents {
	height: 700px;
	position: -webkit-sticky;
	position: sticky;
}

.scroll-amount {
	background-color: #408080;
	text-align: right;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}